/* ----------------------------- COMMON ------------------------------- */

*{
  margin: 0;
}

/* ----------------------------- HOME[APP] ------------------------------- */

.Home{
  display: flex;
  flex-direction: column;
  position: relative;
}

.Navbar{
  position: absolute;
  z-index: 2;
}

.Carousel{
  position: absolute;
  z-index: 1;
}

.Start{
  position: absolute;
  z-index: 3;
}

/* ----------------------------- NAVBAR ------------------------------- */

.Navbar{
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
}

label{
 display:flex;
  flex-direction:column;
  width:60px;
  cursor:pointer;
}

label span{
  background: #000000;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1){
  width:50%;
}

span:nth-of-type(2){
  width:100%;
}

span:nth-of-type(3){
  width:75%;
}

input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}

input[type="checkbox"]:checked ~ span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);
}

/* ----------------------------- CAROUSEL ------------------------------- */

.carousel-container {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.carousel-slide {
  display: flex;
  transition: transform 1s ease;
}

.carousel-image {
  width: 100%;
  height: auto;
  filter: blur(5px);
}

/* ----------------------------- START ------------------------------- */

.Start{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

/* ----------------------------- MAIN ------------------------------- */

.job-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.find{
  height: 60vh;
  width: 50%;
  background-color: blue;
  transition: 1s;
}

.hire{
  height: 60vh;
  width: 50%;
  background-color: red;
  transition: 1s;
}

.find:hover{
  width: 100%;
}

.hire:hover{
  width: 100%;
}

